body{
    margin: 0;
    padding: 50px;
    overflow: hidden;
    font-family: 'montserrat', sans-serif;
}

.wrapper{
    margin: 0 auto;
}

.parent{
    /*border: 10px solid black;*/
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    /*flex-flow:  column-reverse;*/
    /*height: 300px;*/
       

    
    

}

.child{
    border: 2px solid rebeccapurple;
    padding: 10px;
    flex-basis: 23%;
    flex-grow: 1;
    
}

